* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(196, 195, 195);
}
header {
  text-align: center;
  background-color: yellow;
}

.search{
  height: 5vh;
}

.input {
  margin-top: 2vh;
}

.navegation {
  border: 0.3vh solid black;
  height: 5vh;
}

.category{
  margin-left: 4vw;
}

.benefits{
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
  border-radius: 20px;
}

.benefit{
  height: 15vh;
  margin-left: 3vw;
  width: 20vw;
  
}

h3{
  margin-top: 2vh;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 30vh);
  text-align: center;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 1vw;
}
.card{
  background-color: white;
  border-radius: 20px;
}
img{
  height: 14vh;
  margin-top: 2vh;
}

.btn{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}
button{
  background-color: yellow;
  padding: 10px;
  font-size: 2vh;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: auto;
  margin-top: 10vh;
  background-color: white;
}

