* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: yellow;
}

.search{
  height: 7vh;
}

.input {
  margin-top: 2vh;
}

.navegation {
  border: 0.5vh solid black;
  height: 7vh;
}

.category{
  margin-left: 4vw;
}

.benefits{
  display: flex;
  justify-content: center;
}

.benefit{
  height: 15vh;
  width: 15vw;
  background-color: rgb(199, 199, 199);
}

h3{
  margin-top: 2vh;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40vh);
  text-align: center;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  gap: 1vw;
}

.card{
  background-color: rgb(199, 199, 199);
  height: 40vh;
}

img{
  margin-top: 3vh;
  border-radius: 25px;
}


