* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: yellow;
}

.search{
  height: 7vh;
}

.input {
  margin-top: 2vh;
}

.navegation {
  border: 0.5vh solid black;
  height: 7vh;
}

.category{
  margin-left: 4vw;
}

.benefits{
  display: flex;
  justify-content: center;
}

.benefit{
  height: 15vh;
  width: 15vw;
  background-color: rgb(199, 199, 199);
}

h3{
  margin-top: 2vh;
}
